<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main_content">
        {{>header}}
        <p>This is about Pato Y'all...</p>
        <img class="portrait" src="/img/pic.jpg" />
    </div>

    {{>footer}}
</body>

</html>